body {
    background: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-decoration: none;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

.title--white {
    color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* HEADER 
-----------------------------------------*/

.header {
    height: 110px;
    width: 100%;

    position: relative;

    background: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(129, 129, 129, 0.25);
}

.header.fixed {
    position: fixed;

    top: 0;
    left: 0;
    z-index: 100;

}

/* чтобы заголовок не прыгал вверху страницы при скроле */
.fixed+main {
    /*.header[height: ]*/
    padding-top: 110px;
}

.nav {
    height: 100%;

    margin: auto 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;

    list-style-type: none;
}

.menu.show {
    display: flex;
}

.menu__item {
    margin-left: 46px;
}

.menu__item>a {
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #000000;
}

.menu__item a:hover {
    color: #F38450;
    transition: color 0.2s linear;
}



/* INTRO 
-----------------------------------------*/

.intro {
    height: 625px;
    width: 100%;

    background: url(img/intro-bg.jpg) center / cover;
}

.intro__text {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.intro__text::after {
    content: "";
    display: block;

    width: 25%;
    margin: 0 auto;
    border-bottom: 0.15em solid #2A5565;

    transition: width 700ms ease-in-out;
}

.intro__text:hover::after {
    width: 100%;
}

/* STORY 
-----------------------------------------*/


.story__content {
    margin: 60px 60px 0;

    display: flex;
    justify-content: center;
}

.story__img {
    width: 50%;

    padding-bottom: 30%;
    margin: auto 40px auto 0;

    position: relative;
}

.story__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story__text {
    width: 50%;

    margin: auto 0;

    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/* BLOG
-----------------------------------------*/

.blog {
    background: #EFEFEF;
}

.blog__cards {
    margin: 60px 60px 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    padding: 20px;
    margin: 0 7px 15px;

    background: #FFFFFF;
}

.card__title {
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 1.5;
    color: #000000;
}

.card__img {
    margin-bottom: 24px;
    padding-bottom: 60%;
    position: relative;
}

.card__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__text {
    margin-bottom: 24px;

    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
}

.card__text p {
    margin-bottom: 10px;
}

/* SUBSCRIBE
-----------------------------------------*/

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #817070;
}


.email__input {
    padding: 0.4em 1.5em;
    margin: 28px auto 28px;

    display: block;

    background: #817070;
    border: 3px solid #FFFFFF;

    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

.email__input::placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #FFFFFF;
}

.email__input:focus {
    border-color: #2A5565;
    background-color: #74A3AD;
    outline: 0;

    transition: background-color 0.5s linear;
}

.submit__button {
    display: block;

    padding: 0.4em 1.5em;

    margin: 0 auto;

    background: #FFFFFF;
    border: 3px solid #FFFFFF;
    cursor: pointer;

    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #817070;
}

.submit__button:hover {
    background-color: #bdbdbd;
    transition: background-color 0.5s linear;
}

/* COPYRIGHT
-----------------------------------------*/

.copyrigh {
    padding: 29px 0 14px;

    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}



/* BURGER
-----------------------------------------*/
.burger {
    display: none;
    padding: 10px 2px;

    cursor: pointer;

    background: none;
    border: 0;
}

.burger__item {
    display: block;
    width: 27px;
    height: 3px;

    position: relative;

    background-color: #000000;
}

.burger__item::after,
.burger__item::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    z-index: 200;

    background-color: #000000;
}

.burger__item::before {
    top: -8px;
}

.burger__item::after {
    bottom: -8px;
}

/* MEDIA
-----------------------------------------*/

@media (max-width: 991px) {
    .title {
        font-size: 28px;
    }

    /* nav */
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;

        width: 100%;

        flex-direction: column;

        background-color: #FFFFFF;
        box-shadow: 0px 4px 7px rgb(129 129 129 / 25%);
        text-align: right;
    }

    .menu__item {
        padding: 0 80px 20px;
    }

    .menu__item>a {
        font-size: 20px;
    }

    .burger {
        display: block;
    }

    /* intro */
    .intro {
        height: auto;
        padding: 120px 0;
    }

    .intro__text {
        font-size: 40px;
    }

    /* story */
    .story__content {
        margin: 35px 35px 0;
    }

    /* blog */
    .blog__cards {
        margin: 35px 35px 0;
    }

}



@media (max-width: 960px) {

    /* story */
    .story__content {
        flex-direction: column;
    }

    .story__img {
        width: 100%;
        padding-bottom: 60%;

        margin: 0 0 20px;
    }

    .story__text {
        min-width: 100%;
    }

    /* blog */
    .blog__cards {
        justify-content: center;
    }

    .card {
        width: 70%;
    }

    /* subscribe */
    .subscribe>.container {
        padding: 35px;
    }
}



@media (max-width: 768px) {

    /* blog */
    .card {
        width: 90%;
    }
}



@media (max-width: 414px) {

    /* header */
    .nav {
        margin: 0 40px;
    }

    .menu__item {
        padding: 10px 40px;
    }

    /* blog */
    .card {
        width: 100%;
    }
}



@media (max-width: 365px) {

    .title {
        font-size: 24px;
    }

    .container {
        padding: 30px 0;
    }

    /* header */
    .header {
        height: 80px;
    }

    /* чтобы заголовок не прыгал вверху страницы при скроле */
    .fixed+main {
        padding-top: 80px;
    }

    /* intro */
    .intro {
        padding: 80px 0;
    }

    .intro__text {
        font-size: 32px;
    }

    /* story */
    .story__content {
        margin: 30px 25px 0;
    }

    .story__text {
        font-size: 18px;
    }

    /* blog */
    .blog__cards {
        margin: 30px 15px 0;
    }

    /* subscribe */
    .email__input {
        padding: 0.2em 0.2em;
        margin: 20px auto 20px;
    }

    .submit__button {
        padding: 0.2em 1em;
        font-size: 18px;
    }

    /* copyrigh */
    .copyrigh {
        padding: 20px 0 14px;
    }

    .copyrigh p {
        font-size: 15px;
    }
}